<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form [formGroup]="appForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectName">Project Name</label>
          <input 
            type="text"   
            id="projectName" 
            formControlName="projectName"
            class="form-control">

            <span *ngIf="appForm.get('projectName').errors && appForm.get('projectName').errors['projectNameIsForbiddenSync']">
              Sync validator is telling that project name is invalid
            </span>

            <span *ngIf="appForm.get('projectName').errors && appForm.get('projectName').errors['projectNameIsForbiddenAsync']">
              Async validator is telling that project name is invalid
            </span>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input 
            type="text"   
            id="email" 
            formControlName="email"
            class="form-control">
        </div>

        <div class="form-group">
          <label for="projectStatuses">Project Statuses</label>
          <div id="projectStatuses" class="radio" *ngFor="let status of projectStatuses">
            <label>
              <input
                type="radio"
                formControlName="projectStatus"
                [value]="status">{{ status }}
            </label>
          </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>

        <!--
            Create a Form with the following Controls and Validators
            1) Project Name (should not be empty)
            2) Mail (should not be a empty and a valid email)
            3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
            4) Submit Button

            Add your own Validator which doesn't allow "Test" as a Project Name

            Also implement that Validator as an async Validator (replace the other one)

            Upon submitting the form, simply print the value to the console
        -->
      </form>
    </div>
  </div>
</div>
